<div class="flex justify-center mt-32 mb-32">
    <div class="w-1/2">
        <div class="text-center mb-6">
            <h1 class="text-2xl px-4 py-2 bg-[var(--yellow)] mb-6">Appointment Form</h1>
        </div>
        <mat-stepper #stepper class="bg-[var(--white)] border border-gray-200 shadow-sm rounded-xl">
            <mat-step label="Create Pet Profile">
                <form [formGroup]="petProfileForm">
                    <div class="flex gap-4 mt-2">
                        <mat-form-field appearance="outline" class="w-1/2 mb-4">
                            <mat-label>Name</mat-label>
                            <input formControlName="name" type="text" placeholder="Luna" matInput/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-1/4 mb-4">
                            <mat-label>Birthdate</mat-label>
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <input formControlName="birthdate" matInput [matDatepicker]="picker"/>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-1/4 mb-4">
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="gender">
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Female">Female</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="flex gap-4">
                        <mat-form-field appearance="outline" class="w-1/2 mb-4">
                            <mat-label>Breed</mat-label>
                            <input formControlName="breed" type="text" placeholder="Feline" matInput />
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-1/2 mb-4">
                            <mat-label>Species</mat-label>
                            <input formControlName="species" type="text" placeholder="Cat" matInput />
                        </mat-form-field>
                    </div>
                    <div class="flex justify-between mt-6">
                        <button class="z-0" routerLink="/services">Go back to services</button>
                        <button matStepperNext mat-flat-button class="bg-[var(--primary)] text-[var(--white)] px-4 py-2 rounded-sm">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step label="Select Service">
                <div class="text-center">
                    <form [formGroup]="servicesForm">
                        <mat-radio-group class="flex justify-center"  formControlName="serviceId" aria-label="Select an option">
                            @for (service of services; track service.id)
                            {
                                <mat-radio-button class="my-6" value="{{service.id}}">
                                    <h1 class="text-lg">
                                        {{service.name}}
                                    </h1>
                                </mat-radio-button>
                            }
                        </mat-radio-group>
                    </form>
                    <div class="flex justify-between mt-6">
                        <button class="z-0" matStepperPrevious mat-stroked-button>Back</button>
                        <button matStepperNext mat-flat-button class="bg-[var(--primary)] text-[var(--white)] px-4 py-2 rounded-sm">Next</button>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Appointment Date">
                <div class="text-center mt-2">
                    <form [formGroup]="appointmentForm" >
                        <mat-form-field appearance="outline" class="w-1/2 mb-4">
                            <mat-label>Appointment Date</mat-label>
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <input formControlName="appointmentDate" matInput [matDatepicker]="picker2"/>
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </form>
                    <div class="flex justify-between mt-6">
                        <button class="z-0" matStepperPrevious mat-stroked-button>Back</button>
                        <button matStepperNext mat-flat-button class="bg-[var(--primary)] text-[var(--white)] px-4 py-2 rounded-sm" (click)="onSubmit()">Submit</button>
                    </div>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</div>