<div class="flex justify-center mt-32 mb-32">
    <div class="w-1/2">
        <div class="text-center mb-6">
            <h1 class="text-2xl px-4 py-2 bg-[var(--yellow)] mb-6">Appointment Form</h1>
        </div>
        <mat-stepper #stepper class="bg-[var(--white)] border border-gray-200 shadow-sm rounded-xl">
            <mat-step label="Select/Create Pet Profile">
                <form [formGroup]="appointmentForm">
                <div class="flex justify-center items-center gap-4 mt-4">
                        <mat-form-field appearance="fill" class="w-full max-w-md">        
                            <mat-label>Select a Pet</mat-label>
                            <mat-select formControlName="petid" >
                                @for (pet of pets; track pet.id) {
                                    <mat-option [value]="pet.id">
                                        {{ pet.name }}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        <button mat-flat-button class="bg-[var(--primary)] mb-4" routerLink="/create-pet">Create Pet</button>
                    </div>
                </form>
                <!-- Form goes here -->
                <div class="flex justify-between mt-6">
                    <button class="z-0" routerLink="/services">Go back to services</button>
                    <button matStepperNext mat-flat-button class="bg-[var(--primary)] text-[var(--white)] px-4 py-2 rounded-sm">Next</button>
                </div>
            </mat-step>
            <mat-step label="Select Service">
                <div class="text-center">
                    <form [formGroup]="servicesForm">
                        <mat-radio-group class="flex justify-center"  formControlName="serviceId" aria-label="Select an option">
                            @for (service of services; track service.id)
                            {
                                <mat-radio-button class="my-6" value="{{service.id}}">
                                    <h1 class="text-lg">
                                        {{service.name}}
                                    </h1>
                                </mat-radio-button>
                            }
                        </mat-radio-group>
                    </form>
                    <div class="flex justify-between mt-6">
                        <button class="z-0" matStepperPrevious mat-stroked-button>Back</button>
                        <button matStepperNext mat-flat-button class="bg-[var(--primary)] text-[var(--white)] px-4 py-2 rounded-sm">Next</button>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Appointment Date">
                <div class="text-center mt-2">
                    <form [formGroup]="appointmentForm" >
                        <mat-form-field appearance="outline" class="w-1/2 mb-4">
                            <mat-label>Appointment Date</mat-label>
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <input formControlName="appointmentDate" matInput [matDatepicker]="picker2"/>
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </form>
                    <div class="flex justify-between mt-6">
                        <button class="z-0" matStepperPrevious mat-stroked-button>Back</button>
                        <button matStepperNext mat-flat-button class="bg-[var(--primary)] text-[var(--white)] px-4 py-2 rounded-sm" (click)="onSubmit()">Submit</button>
                    </div>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</div>