<div class="mb-8">
  <mat-form-field appearance="outline" class="w-full mb-[-20px]">
    <mat-label>{{ label }}</mat-label>
    <input [formControl]="c" type="password" placeholder="{{ label }}" matInput />
  </mat-form-field>

  @if (c!.invalid && c!.touched) {

    @if (c!.hasError('required')) {
      <mat-error class="text-left text-[12px] ml-[16px] mb-[-20px]">
        {{ label }} is required.
      </mat-error>
    }

    @if (c!.hasError('minlength')) {
      <mat-error class="text-left text-[12px] ml-[16px]">
        Min 8 characters.
      </mat-error>
    }
    @if (c!.hasError('capitalRequired')) {
      <mat-error class="text-left text-[12px] ml-[16px]">
        Need at least 1 capital letter.
      </mat-error>
    }
    @if (c!.hasError('numberRequired')) {
      <mat-error class="text-left text-[12px] ml-[16px]">
        Needs at least 1 number.
      </mat-error>
    }
    @if (c!.hasError('specialRequired')) {
      <mat-error class="text-left text-[12px] ml-[16px]">
        Needs at least 1 special character.
      </mat-error>
    }
  }
</div>
<!-- 
<div class="w-full">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>{{ label }}</mat-label>
    <input 
      [formControl]="c" 
      type="password" 
      matInput 
      [placeholder]="label"
    />


    @if (c.valid && c.touched) {
      <mat-icon matSuffix color="primary">check_circle</mat-icon>
    }
  </mat-form-field>

  @if (c.invalid && c.touched) {

    @if (c.hasError('required')) {
      <mat-error>{{ label }} is required.</mat-error>
    }

    @if (c.hasError('minlength')) {
      <mat-error>Min 8 characters.</mat-error>
    }

    @if (c.hasError('capitalRequired')) {
      <mat-error>Need at least 1 capital letter.</mat-error>
    }

    @if (c.hasError('numberRequired')) {
      <mat-error>Needs at least 1 number.</mat-error>
    }

    @if (c.hasError('specialRequired')) {
      <mat-error>Needs at least 1 special character.</mat-error>
    }
  }
</div> -->
