@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Margarine&display=swap');


:root {
  @include mat.button-overrides((
    filled-container-shape: '6px',
    outlined-container-shape: '6px',
    filled-container-color: var(--primary)
  ));

  --primary: #0078AA;
  --secondary: #3AB4F2;
  --white: #F6F6F6;
  --yellow: #F2DF3A;

}

body {
  background-color: var(--white);
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: 'Margarine', sans-serif;
}

.mdc-notched-outline__notch {
    border-right-style: none !important;
}

.snack-error {
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: red,
    supporting-text-color: white
  ));
}

.snack-success {
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: green,
    supporting-text-color: white
  ));
}