.services-heading{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    background-image: url('/assets/images/background/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 35%;
    background-attachment: fixed;
    width: 100%;
    height: 70vh;
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
    margin-bottom: 100px;
}

.services-title {
    position: absolute;
    bottom: -8%;
    text-align: center;
    align-content: center;
    width: 350px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--white);
    border: 8px solid var(--white);
    font-size: 1.5rem;
    font-weight: bold;
}

