<div class="flex justify-center items-center bg-white p-4 md:p-8">
<form [formGroup]="changePasswordForm" (ngSubmit)="submit()" class="space-y-5">
<!-- OLD PASSWORD (normal input) -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Old Password</mat-label>
      <input formControlName="oldPassword" type="password" matInput />
      @if (changePasswordForm.get('oldPassword')?.invalid && changePasswordForm.get('oldPassword')?.touched) {
        <mat-error>
          Old Password is required.
        </mat-error>
      }
    </mat-form-field>

    <!-- NEW PASSWORD -->
    <div class="mb-8"> 
      <mat-form-field appearance="outline" class="w-full mb-[-20px]"> 
      <mat-label>New Password</mat-label> 
      <input formControlName="newPassword" type="password" placeholder="Password" matInput /> 
      </mat-form-field> 
        @if (changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched) {
          @if (changePasswordForm.get('newPassword')?.hasError('required')) { 
            <mat-error class="text-left text-[12px] ml-[16px] mb-[-20px]">Password is required.</mat-error> 
          } 
          @if (changePasswordForm.get('newPassword')?.hasError('minlength')) { 
            <mat-error class="text-left text-[12px] ml-[16px]">Min 8 characters.</mat-error> 
          } 
          @if (changePasswordForm.get('newPassword')?.hasError('capitalRequired')) { 
            <mat-error class="text-left text-[12px] ml-[16px]">Need at least 1 capital letter.</mat-error> 
          } 
          @if (changePasswordForm.get('newPassword')?.hasError('numberRequired')) { 
            <mat-error class="text-left text-[12px] ml-[16px]">Needs at least 1 number.</mat-error> 
          } 
          @if (changePasswordForm.get('newPassword')?.hasError('specialRequired')) { 
          <mat-error class="text-left text-[12px] ml-[16px]">Needs at least 1 special character.</mat-error> 
          } 
        } 
    </div>

    <!-- CONFIRM PASSWORD FIELD -->
    <div class="mb-6">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Confirm Password</mat-label>
        <input formControlName="confirmPassword" type="password" placeholder="Confirm Password" matInput />
        @if (changePasswordForm.get('confirmPassword')?.invalid && changePasswordForm.get('confirmPassword')?.touched) {
          <mat-error class="text-left">
            @if (changePasswordForm.get('confirmPassword')?.hasError('required')) { Confirmation is required. }
            @if (changePasswordForm.get('confirmPassword')?.hasError('mismatch')) { Passwords must match. }
          </mat-error>
        }
        @else if (changePasswordForm.get('confirmPassword')?.valid && changePasswordForm.get('newPassword')?.valid && changePasswordForm.valid) {
          <mat-icon matSuffix color="primary" class="ml-2">check_circle</mat-icon>
        }
      </mat-form-field>
    </div>

    <button
        mat-flat-button
        color="bg-[var(--primary)]"
        class="w-full py-3 text-lg font-semibold mt-4"
        >
    Save
    </button>

</form>
</div>