<div class="h-screen p-4">
    <div class="mb-4">
        <h1 class="text-2xl font-bold">Dashoard</h1>
    </div>
    <div class="card flex gap-8">
        <mat-card class="w-1/4 p-4">
            <p class="text-xl font-semibold mb-2">Total Patient</p>
            <h1 class="text-3xl font-bold">222</h1>
        </mat-card>
        <mat-card class="w-1/4 p-4">
            <p class="text-xl font-semibold mb-2">New Appointments</p>
            <h1 class="text-3xl font-bold">42</h1>
        </mat-card>
        <mat-card class="w-1/4 p-4">
            <p class="text-xl font-semibold mb-2">No-show</p>
            <h1 class="text-3xl font-bold">4</h1>
        </mat-card>
        <mat-card class="w-1/4 p-4">
            <p class="text-xl font-semibold mb-2">Total Appointments</p>
            <h1 class="text-3xl font-bold">743</h1>
        </mat-card>
    </div>
</div>