<div class="bg-[var(--primary)] text-[var(--white)] p-16">
    <div class="container flex justify-between mb-10">
        <div class="logo">
            <h1 class="text-2xl">PetCareHub</h1>
        </div>
        <div class="link flex gap-3 my-2 text-xl ml-6">
            <a routerLink="/" class="hover:text-[var(--yellow)] cursor-pointer">Home</a>
            <a routerLink="/services" class="hover:text-[var(--yellow)] cursor-pointer">Services</a>
            <a class="hover:text-[var(--yellow)] cursor-pointer">Contact us</a>
            <a class="hover:text-[var(--yellow)] cursor-pointer">About us</a>
        </div>
        <div class="socials flex gap-6">
            <img class="w-10" src="/assets/images/icons/fb.png" alt="Fb logo">
            <img class="w-10" src="/assets/images/icons/ig.png" alt="IG logo">
            <img class="w-10" src="/assets/images/icons/x.png" alt="X logo">
        </div>
    </div>
    <div class="text-center">
        <p>Copyright &#169; 2025 PetCareHub. All Rights Reserved.</p>
    </div>
</div>