<div class="h-screen p-4">
    <h1 class="text-2xl font-bold mb-8">Appointment</h1>
    <div class="flex">
        <div class="w-3/4">
            <div class="bg-white py-8 px-4">
                <table class="min-w-full divide-y divide-gray-200 cursor-pointer">
                    <thead class="uppercase text-gray-600 text-sm h-[40px]">
                        <tr class="text-lg">
                            <th>ID</th>
                            <th class="text-left">Pet name</th>
                            <th class="text-left">Services</th>
                            <th class="text-left">Appointment Date</th>
                            <th class="text-left">Status</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        @for (appointment of appointments?.data; track appointment.id) {
                            <tr routerLink="/admin/appointment/{{appointment.id}}" 
                                class="h-[40px] hover:bg-[var(--primary)] hover:text-[var(--white)]">
                                <td class="text-center">{{ appointment.id}}</td>
                                <td>{{ appointment.petName}}</td>
                                <td>{{ appointment.serviceName}}</td>
                                <td>{{ appointment.appointmentDate | date}}</td>
                                <td>{{ appointment.status}}</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <mat-paginator
                    class="items-center mt-4"
                    (page)="handlePageEvent($event)"
                    [length]="appointments?.count"
                    [pageSize]="appointmentParams.pageSize"
                    [showFirstLastButtons]="true"
                    [pageSizeOptions]="pageSizeOptions"
                    [pageIndex]="appointmentParams.pageNumber - 1"
                    aria-label="Select page"
                >
                </mat-paginator>
            </div>
        </div>
        <div class="w-1/4 m-4">

            <mat-calendar [(selected)]="selected" class="shadow-sm rounded-lg">

            </mat-calendar>

        </div>
    </div>
    
</div>