<div class="h-screen">

    <div class="max-w-6xl mx-auto p-6 space-y-6">
        <!-- Title/Header -->
        <p class="text-3xl font-bold text-center">Service Record Detail</p>
        
        <!-- Pet & Owner Info Cards -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Pet Info Card -->
            <div class="bg-white rounded-xl shadow-md p-6">
                <h3 class="text-xl font-semibold mb-4">🐶 Pet Information</h3>
                <div class="space-y-2 text-gray-700">
                    <p><span class="font-semibold">Pet ID: </span><strong>{{ pet?.id }}</strong></p>
                    <p><span class="font-semibold">Name: </span><strong>{{ pet?.name }}</strong></p>
                    <p><span class="font-semibold">Birthday: </span><strong>{{ pet?.birthdate| date }}</strong></p>
                    <p><span class="font-semibold">Breed: </span><strong>{{ pet?.breed }}</strong></p>
                    <p><span class="font-semibold">Species: </span><strong>{{ pet?.species }}</strong></p>
                </div>
            </div>
            
            <!-- Owner Info Card -->
            <div class="bg-white rounded-xl shadow-md p-6">
                <h3 class="text-xl font-semibold mb-4">👤 Owner Information</h3>
                <div class="space-y-2 text-gray-700">
                    <p><span class="font-semibold">First Name: </span><strong>{{ owner?.firstName }}</strong></p>
                    <p><span class="font-semibold">Last Name: </span><strong>{{ owner?.lastName }}</strong></p>
                    <p><span class="font-semibold">Contact number: </span><strong>{{ owner?.contact}}</strong></p>
                    <p><span class="font-semibold">Email: </span><strong>{{ owner?.email }}</strong></p>
                    
                    </div>
                </div>
            </div>
            
            <!-- Service Detail Section -->
            <div class="bg-white rounded-xl shadow-md p-6">
                <h3 class="text-xl font-semibold mb-4">📝 Service Information</h3>
                <div class="space-y-2 text-gray-700">
                    <p><span class="font-semibold">Service ID: # </span><strong>{{ services?.id }}</strong></p>
                    <p><span class="font-semibold">Service Name: </span><strong>{{ services?.serviceName }}</strong></p>
                    <p><span class="font-semibold">Date of Service: </span><strong>{{ services?.dateOfService | date }}</strong></p>
                    <p><span class="font-semibold">Visit Type: </span><strong>{{ services?.visitType}}</strong></p>
                    <p><span class="font-semibold">Notes: </span><strong>{{ services?.notes ? services?.notes : 'N/A'}}</strong></p>
                </div>
            </div>
            <div>
                <button routerLink="/admin/pet-service" mat-flat-button>
                    Done
                </button>
            </div>
        </div>
</div>
