<div class="bg-white rounded-2xl shadow-2xl w-full max-w-3xl overflow-hidden transform transition-all" (click)="$event.stopPropagation()">
    <div class="bg-[var(--primary)] text-white p-6 flex justify-between items-center">
        <h3 class="text-xl font-bold">Register New Clinic</h3>
        <button (click)="onCancel()" aria-label="Close modal" class="hover:text-gray-200 transition-colors">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
        </button>
    </div>
    
    <form [formGroup]="form" class="p-6 grid grid-cols-1 sm:grid-cols-2 gap-x-8 gap-y-4">
        
        <div class="sm:col-span-1 flex flex-col items-center pt-2">
            <label for="pet-picture-upload" class="cursor-pointer">
                <div class="w-48 h-48 rounded-full border-4 border-dashed border-indigo-300 flex items-center justify-center overflow-hidden bg-gray-100 hover:border-indigo-500 transition-colors shadow-inner">
                    @if (imageUrl) {
                        <img 
                        [src]="imageUrl" 
                        alt="Clinic Profile Picture" 
                        class="w-full h-full object-cover"
                        />
                    } @else if (!imageUrl) { 
                        <div class="text-center text-indigo-400">
                            <mat-icon class="text-6xl">storefront</mat-icon>
                            <p class="text-xs mt-1 font-medium">Click to upload picture</p>
                        </div>
                    }
                </div>
            </label>
            <input 
                type="file" 
                id="pet-picture-upload" 
                (change)="onFileSelected($event)" 
                style="display: none;" 
                accept="image/*"
            />
            <p class="mt-4 text-sm text-gray-500">Max size 5MB (Recommended: Square)</p>
        </div>

        <div class="sm:col-span-1 flex flex-col justify-start space-y-4">
            
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Owner ID</mat-label>
                <input matInput id="ownerId" formControlName="ownerId">
                </mat-form-field>
            
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Clinic name</mat-label>
                <input matInput id="clinicName" formControlName="clinicName">
                </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Phone number</mat-label>
                <input matInput id="phoneNumber" type="tel" formControlName="phoneNumber">
                </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Email</mat-label>
                <input matInput type="email" id="email" formControlName="email">
                </mat-form-field>

        </div>

        <div class="sm:col-span-2">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Address</mat-label>
                <textarea matInput id="address" formControlName="address" rows="3"></textarea>
                </mat-form-field>
        </div>

        <div class="sm:col-span-2 pt-4 flex justify-end space-x-3">
            <button type="button" (click)="onCancel()" 
                    class="px-4 py-2 bg-gray-200 text-gray-700 font-semibold rounded-lg hover:bg-gray-300 transition-colors">
                Cancel
            </button>
            <button type="submit"
                    (click)="onSubmit()"
                    [disabled]="form.invalid"
                    class="px-4 py-2 bg-green-600 text-white font-semibold rounded-lg disabled:opacity-50 hover:bg-green-700 transition-colors">
                Register
            </button>
        </div>
    </form>
</div>